body {
  height: 100%;
  background-color: rgb(255, 255, 255);
}
.navbar-nav{
  margin-top: 50px !important;
  .name{
    padding: 1px 18px !important;
    margin-top: -3px;
  }
}
#buttons-devise{
  padding: 1px 18px !important;
  margin-top: -43px;
}
.container{
  margin-top: 80px;
  padding-bottom: 30px;
  table {
    thead {
      line-height: 55px;
      th {
        text-align: center;
      }
      .small-th {
        width: 50px;
      }
    }
    tbody {
      tr {
        td {
          text-align: center;
        }
        .big-td {
          width: 15%;
        }
      }
    }
  }
}